<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">
    <f:if condition="{navigationBounds.numberOfItems} > 1">
        <div class="form-row justify-content-between">
            <div class="form-group">
                <div class="input-group">
                    <span class="btn btn-default disabled" style="min-width:8rem">bulk actions</span>
                    <f:form.button title="queue" name="action" value="queue" class="btn btn-default" additionalAttributes="{disabled:'disabled',data-action-type:'bulk',data-confirm:'Do you want to queue the selected jobs?'}">
                        <core:icon identifier="actions-clock" size="small" />
                    </f:form.button>
                    <f:form.button title="run" name="action" value="run" class="btn btn-default" additionalAttributes="{disabled:'disabled',data-action-type:'bulk',data-confirm:'Do you want to run the selected jobs?'}">
                        <core:icon identifier="actions-play" size="small" />
                    </f:form.button>
                    <f:form.button title="delete" name="action" value="delete" class="btn btn-default" additionalAttributes="{disabled:'disabled',data-action-type:'bulk',data-confirm:'Do you want to delete the selected jobs?'}">
                        <core:icon identifier="actions-edit-delete" size="small" />
                    </f:form.button>
                </div>
            </div>
        </div>
    </f:if>
</html>
