includes:
	- .Build/vendor/mediatis/typo3-coding-standards/phpstan.neon
parameters:
	excludePaths:
		# TODO Event that is listened to does not exist in TYPO3 11 but in TYPO3 12
		- Classes/Extensions/Form/EventListener/DataStructureIdentifierListener.php
