<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <f:section name="Buttons"></f:section>

    <f:section name="Content">
        <f:asset.script identifier="dmf-distributor-backend-list" src="EXT:dmf_distributor_core/Resources/Public/JavaScript/Backend/DistributorList/distributor-list.js" defer="1" />
        <div class="container">
            <h1>Distributor</h1>

            <f:render partial="Tabs" arguments="{current:current}" />
            <h2>Statistics</h2>

            <f:form action="showStatistics" additionalAttributes="{data-module:'dmf-distributor-backend',data-form-type:'showStatistics'}">
                <f:render partial="Filters/TimingFilters" arguments="{filters:filters,filterBounds:filterBounds}" />
                <f:render partial="UpdateView" arguments="{current:current,filters:filters,navigation:navigation}" />
            </f:form>

            <h2>{statistics.all} Jobs from {statistics.hashes} Submissions</h2>

            <div class="my-4">
                <f:render partial="Statistics/Progress" section="Main" arguments="{statistics:statistics}" />
            </div>

            <div>
                <f:render partial="Statistics/OverviewTable" arguments="{statistics:statistics,filters:filters}" />
            </div>
        </div>
    </f:section>

</html>
