<div>
    <div class="note">
        <div class="note-body">
            <h3>Outbound Route Preview ({{ keyword }})</h3>

            <div class="note">
                <div class="note-body">
                    {% if error %}
                        <p>Error: <span>{{ error }}</span></p>
                    {% elseif skipped %}
                        <p>
                            Will be skipped, reason:
                            {% if not enabled %}
                                not enabled
                            {% elseif not allowed %}
                                not allowed
                            {% else %}
                                gate not passed
                            {% endif %}
                        </p>
                    {% else %}
                        <p>Can be processed</p>
                    {% endif %}
                </div>
            </div>

            {% if not error and not skipped %}
                {{ dataDispatcherPreview|raw }}
            {% endif %}
        </div>
    </div>
</div>
