<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <f:section name="Buttons"></f:section>

    <f:section name="Content">
        <f:asset.script identifier="dmf-distributor-backend-list" src="EXT:dmf_distributor_core/Resources/Public/JavaScript/Backend/DistributorList/distributor-list.js" defer="1" />
        <div class="container">
            <h1>Distributor</h1>

            <f:render partial="Tabs" arguments="{current:current}" />

            <h2>Jobs</h2>

            <f:form action="list" additionalAttributes="{data-module:'dmf-distributor-backend',data-form-type:'list'}">
                <h3>Filters</h3>
                <f:render partial="Filters/SearchFilter" arguments="{filters:filters,filterBounds:filterBounds}" />
                <f:render partial="Filters/TimingFilters" arguments="{filters:filters,filterBounds:filterBounds}" />
                <f:render partial="Filters/TypeFilters" arguments="{filters:filters,filterBounds:filterBounds}" />
                <f:render partial="Filters/StatusFilters" arguments="{filters:filters,filterBounds:filterBounds}" />

                <h3>Navigation</h3>
                <div>
                    <f:render partial="Navigation/PaginationFilter.html" arguments="{navigation:navigation,navigationBounds:navigationBounds}" />
                    <f:render partial="Navigation/Sorting.html" arguments="{navigation:navigation,navigationBounds:navigationBounds}" />
                </div>

                <f:render partial="UpdateView" arguments="{current:'list',filters:filters,navigation:navigation}" />

                <h3>
                    List
                    <f:if condition="{navigationBounds.numberOfPages} > 1">
                        <f:variable name="minItems">{navigation.page * navigation.itemsPerPage + 1}</f:variable>
                        <f:variable name="maxItems">{navigation.page * navigation.itemsPerPage + navigation.itemsPerPage}</f:variable>
                        [page: {navigation.page + 1} / {navigationBounds.numberOfPages}]
                        [results: {minItems} - {f:if(condition:'{maxItems} > {navigationBounds.numberOfItems}',then:navigationBounds.numberOfItems,else:maxItems)}]
                    </f:if>
                    [total: {navigationBounds.numberOfItems}]
                </h3>

                <div class="form-row justify-content-between my-3">
                    <div class="form-group">
                        <div class="input-group">
                            <f:render partial="List/Actions" arguments="{navigationBounds:navigationBounds}" />
                            <span class="mx-2"></span>
                            <f:render partial="Navigation/Pagination.html" arguments="{current:'list',filters:filters,navigation:navigation,navigationBounds:navigationBounds}" />
                        </div>
                    </div>
                </div>

                <f:render partial="List/List" arguments="{jobs:jobs,filters:filters,navigation:navigation,navigationBounds:navigationBounds,expirationDate:expirationDate,stuckDate:stuckDate,maxExecutionTime:maxExecutionTime}" />

                <div class="form-row justify-content-between my-3">
                    <div class="form-group">
                        <div class="input-group">
                            <f:render partial="List/Actions" arguments="{navigationBounds:navigationBounds}" />
                            <span class="mx-2"></span>
                            <f:render partial="Navigation/Pagination.html" arguments="{current:'list',filters:filters,navigation:navigation,navigationBounds:navigationBounds}" />
                        </div>
                    </div>
                </div>

            </f:form>
        </div>
    </f:section>
</html>
