<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Buttons"></f:section>

<f:section name="Content">
    <f:link.action action="list" controller="DistributorList" arguments="{backParameters}" class="btn btn-primary">Back</f:link.action>

    <div class="container">
        <div class="note note-category-1">
            <div class="note-body">
                <p>This is a job preview, not a review. It shows what will happen if a job was processed right now, but not necessarily what had happened when the job was last processed.</p>

                <p>If the job was processed in the past, the associated configuration might have been different which could have changed the specifics of the process.</p>
            </div>
        </div>
    </div>

    <f:for each="{records}" as="record">
        <div class="container">
            <h2>Preview: {record.job.label} ({record.job.uid})</h2>

            <f:if condition="!{testCaseMap.{record.job.label}}">
                <p>
                    <f:link.action action="createTestCase" controller="DistributorList" arguments="{jobUid: record.job.uid}" class="btn btn-primary">Create Test Case</f:link.action>
                </p>
            </f:if>
            <f:if condition="{testCases}">
                <p>
                    <f:form action="updateTestCase">
                        <f:form.hidden name="jobUid" value="{record.job.uid}" />
                        <div class="form-group form-group-sm">
                            <f:form.select name="testCaseUid" options="{testCases}" class="form-select form-select-sm" value="{testCaseMap.{record.job.label}}" required="1"/>
                        </div>
                        <f:form.submit class="btn btn-primary" value="Update Test Case" />
                    </f:form>
                </p>
            </f:if>

            <f:format.raw>{record.preview}</f:format.raw>
        </div>
    </f:for>
</f:section>
</html>
