<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">
    <f:if condition="{navigationBounds.numberOfPages} > 1">
        <f:comment><!--
            this hidden field will make the filters remember the currently selected page
            but we probably want to reset the page when the filters change
            <f:form.hidden name="navigation[page]" value="{navigation.page}" />
        --></f:comment>
        <div class="form-row justify-content-between">
            <div class="form-group">
                <div class="input-group">
                    <span class="btn btn-default disabled" style="min-width: 8rem">page</span>
                    <f:for each="{navigationBounds.pages}" as="index">
                        <f:link.action
                            action="{current}"
                            arguments="{page:index,filters:filters,navigation:navigation}"
                            class="btn btn-default {f:if(condition:'{navigation.page} == {index}',then:'active')}">
                            {index + 1}
                        </f:link.action>
                    </f:for>
                </div>
            </div>
        </div>
    </f:if>
</html>
