<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">
    <div class="form-row justify-content-between">
        <div class="form-group">
            <div class="input-group">
                <label for="search" class="btn btn-default disabled" style="min-width: 8rem">search</label>
                <f:form.textfield id="search" name="filters[search]" value="{filters.search}" class="form-control" style="min-width:15rem" />
                <label class="form-control btn btn-default" style="width:auto">
                    <span class="form-check form-check-type-toggle">
                        <f:form.checkbox name="filters[advancedSearch]" value="1" checked="{filters.advancedSearch}" class="form-check-input" />
                    </span>
                    include job data
                </label>
                <label class="form-control btn btn-default" style="width:auto">
                    <span class="form-check form-check-type-toggle">
                        <f:form.checkbox name="filters[searchExactMatch]" value="1" checked="{filters.searchExactMatch}" class="form-check-input" />
                    </span>
                    exact match
                </label>
            </div>
        </div>
    </div>
</html>
