<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">
    <div class="form-row justify-content-between">
        <div class="form-group">
            <div class="input-group">
                <span class="btn btn-default disabled" style="min-width: 8rem">changed after</span>
                <f:form.textfield id="minChanged"
                        name="filters[minChanged]"
                        value="{filters.minChanged}"
                        type="datetime-local"
                        placeholder="changed after"
                        class="form-control" />
                <button type="button"
                    class="btn btn-default"
                    onclick="document.getElementById('minChanged').value=''">
                    <core:icon identifier="actions-close" size="small" />
                </button>

                <span class="mx-2"></span>

                <span class="btn btn-default disabled" style="min-width: 8rem">changed before</span>
                    <f:form.textfield id="maxChanged"
                            name="filters[maxChanged]"
                            value="{filters.maxChanged}"
                            type="datetime-local"
                            placeholder="changed after"
                            class="form-control" />
                    <button type="button"
                        class="btn btn-default"
                        onclick="document.getElementById('maxChanged').value=''">
                        <core:icon identifier="actions-close" size="small" />
                    </button>
            </div>
        </div>
    </div>
    <div class="form-row justify-content-between">
        <div class="form-group">
            <div class="input-group">
                <span class="btn btn-default disabled" style="min-width: 8rem">created after</span>
                <f:form.textfield id="minCreated"
                        name="filters[minCreated]"
                        value="{filters.minCreated}"
                        type="datetime-local"
                        placeholder="changed after"
                        class="form-control" />
                <button type="button"
                    class="btn btn-default"
                    onclick="document.getElementById('minCreated').value=''">
                    <core:icon identifier="actions-close" size="small" />
                </button>

                <span class="mx-2"></span>

                <span class="btn btn-default disabled" style="min-width: 8rem">created before</span>
                    <f:form.textfield id="maxCreated"
                            name="filters[maxCreated]"
                            value="{filters.maxCreated}"
                            type="datetime-local"
                            placeholder="changed after"
                            class="form-control" />
                    <button type="button"
                        class="btn btn-default"
                        onclick="document.getElementById('maxCreated').value=''">
                        <core:icon identifier="actions-close" size="small" />
                    </button>
            </div>
        </div>
    </div>
</html>
