<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">
    <f:if condition="{filterBounds.typeCountNotEmpty} > 1 || {filterBounds.typeSelected}">
        <div class="form-row justify-content-between">
            <div class="form-group">
                <div class="input-group">
                    <span class="btn btn-default disabled" style="min-width: 8rem">type</span>
                    <f:for each="{filterBounds.type}"
                        as="count"
                        key="option">
                        <f:if condition="{count} > 0 || {filters.type.{option}}">
                            <label class="form-control btn btn-default" style="width:auto">
                                <span class="form-check form-check-type-toggle">
                                    <f:form.checkbox name="filters[type][{option}]"
                                            value="1"
                                            checked="{filters.type.{option}}"
                                            class="form-check-input" />
                                </span>
                                {option} ({count})
                            </label>
                        </f:if>
                    </f:for>
                </div>
            </div>
        </div>
    </f:if>
</html>
