<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:d="http://typo3.org/ns/DigitalMarketingFramework/Typo3/Distributor/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:section name="Cell"><!-- {type} {status} {count} -->
        <f:if condition="{count} == 0">
            <f:then>0</f:then>
            <f:else>
                <f:variable name="linkFilters" value="{d:be.mergeFilters(filters:filters,type:{0:type},status:status)}" />
                <f:link.action controller="DistributorList" action="list" arguments="{filters:linkFilters}">
                    {count}
                </f:link.action>
            </f:else>
        </f:if>
    </f:section>

    <f:section name="Row">
        <tr>
            <td class="col-title">
                <f:variable name="linkFilters" value="{d:be.mergeFilters(filters:filters,type:{0:type})}" />
                <f:link.action controller="DistributorList" action="list" arguments="{filters:linkFilters}">
                    {f:if(condition:type,then:type,else:'All')}
                </f:link.action>
            </td>
            <td>
                <f:render section="Cell" arguments="{filters:filters,type:type,count:row.all}" />
            </td>
            <td>
                <f:render section="Cell" arguments="{filters:filters,type:type,count:row.queued,status:{0:'queued'}}" />
            </td>
            <td>
                <f:render section="Cell" arguments="{filters:filters,type:type,count:row.pending,status:{0:'pending'}}" />
            </td>
            <td>
                <f:render section="Cell" arguments="{filters:filters,type:type,count:row.running,status:{0:'running'}}" />
            </td>
            <td>
                <f:render section="Cell" arguments="{filters:filters,type:type,count:row.done,status:{0:'doneNotSkipped',1:'doneSkipped'}}" />
            </td>
            <td>
                <f:render section="Cell" arguments="{filters:filters,type:type,count:row.doneNotSkipped,status:{0:'doneNotSkipped'}}" />
            </td>
            <td>
                <f:render section="Cell" arguments="{filters:filters,type:type,count:row.doneSkipped,status:{0:'doneSkipped'}}" />
            </td>
            <td>
                <f:render section="Cell" arguments="{filters:filters,type:type,count:row.failed,status:{0:'failed'}}" />
            </td>
        </tr>
    </f:section>
</html>
