<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:d="http://typo3.org/ns/DigitalMarketingFramework/Typo3/Distributor/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">
    <div class="table-fit">
        <table id="distributor-jobs-statistics"
               class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Route</th>
                    <th style="min-width:6rem">
                        <f:link.action controller="DistributorList" action="list" arguments="{filters:filters}">
                            Total
                        </f:link.action>
                        <div class="progress">&nbsp;</div>
                    </th>
                    <th style="min-width:6rem">
                        <f:variable name="linkFilters" value="{d:be.mergeFilters(filters:filters,status:{0:'queued'})}" />
                        <f:link.action controller="DistributorList" action="list" arguments="{filters:linkFilters}">
                            Queued
                        </f:link.action>
                        <div class="progress"><div class="progress-bar bg-info" style="width:100%"></div></div>
                    </th>
                    <th style="min-width:6rem">
                        <f:variable name="linkFilters" value="{d:be.mergeFilters(filters:filters,status:{0:'pending'})}" />
                        <f:link.action controller="DistributorList" action="list" arguments="{filters:linkFilters}">
                            Pending
                        </f:link.action>
                        <div class="progress"><div class="progress-bar" style="width:100%"></div></div>
                    </th>
                    <th style="min-width:6rem">
                        <f:variable name="linkFilters" value="{d:be.mergeFilters(filters:filters,status:{0:'running'})}" />
                        <f:link.action controller="DistributorList" action="list" arguments="{filters:linkFilters}">
                            Running
                        </f:link.action>
                        <div class="progress"><div class="progress-bar progress-bar-striped progress-bar-animated" style="width:100%"></div></div>
                    </th>
                    <th style="min-width:6rem">
                        <f:variable name="linkFilters" value="{d:be.mergeFilters(filters:filters,status:{0:'doneNotSkipped',1:'doneSkipped'})}" />
                        <f:link.action controller="DistributorList" action="list" arguments="{filters:linkFilters}">
                            Done
                        </f:link.action>
                        <div class="progress"><div class="progress-bar bg-success" style="width:100%"></div></div>
                    </th>
                    <th style="min-width:6rem">
                        <f:variable name="linkFilters" value="{d:be.mergeFilters(filters:filters,status:{0:'doneNotSkipped'})}" />
                        <f:link.action controller="DistributorList" action="list" arguments="{filters:linkFilters}">
                            Processed
                        </f:link.action>
                        <div class="progress"><div class="progress-bar bg-success" style="width:100%"></div></div>
                    </th>
                    <th style="min-width:6rem">
                        <f:variable name="linkFilters" value="{d:be.mergeFilters(filters:filters,status:{0:'doneSkipped'})}" />
                        <f:link.action controller="DistributorList" action="list" arguments="{filters:linkFilters}">
                            Skipped
                        </f:link.action>
                        <div class="progress"><div class="progress-bar bg-success" style="width:100%"></div></div>
                    </th>
                    <th style="min-width:6rem">
                        <f:variable name="linkFilters" value="{d:be.mergeFilters(filters:filters,status:{0:'failed'})}" />
                        <f:link.action controller="DistributorList" action="list" arguments="{filters:linkFilters}">
                            Failed
                        </f:link.action>
                        <div class="progress"><div class="progress-bar bg-danger" style="width:100%"></div></div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <f:render partial="Statistics/OverviewTableRow" section="Row" arguments="{row:statistics,filters:filters}" />
                <f:for each="{statistics.groupedByType}" as="groupStatistics" key="type">
                    <f:render partial="Statistics/OverviewTableRow" section="Row" arguments="{type:type,row:groupStatistics,filters:filters}" />
                </f:for>
            </tbody>
        </table>
    </div>
</html>
